<h3>Launch exercise environment</h3>
<form class="skytap-launch-form">
  <div>
    <label>
      <span>Select your preferred keyboard layout:</span>
      <select name="keyboard_layout">
        {% for language_code, language_name in keyboard_layouts %}
          <option value="{{ language_code }}"
                  {% if language_code == preferred_keyboard_layout %}selected{% endif %}>
            {{ language_name }}
          </option>
        {% endfor %}
      </select>
    </label>
  </div>
  <div>
    <input class="skytap-launch" type="submit" name="submit" value="Launch">
  </div>
</form>
