<h1>Activate exercise environment</h1>
<form>
  <div>
    {% for user in users %}
      <span>User: {{ user.name }} ({{user.email}})
    {% endfor %}
  </div>
  <div>
    <label>
      <span>Enter your email address:</span>
      <input type="text" name="learner_email">
    </label>
  </div>
  <div>
    <label>
      <span>Select your preferred keyboard layout:</span>
      <select name="keyboard_layout">
        <option value="nl-be">Dutch-Belgium</option>
        <option value="uk">English</option>
        <option value="us">English</option>
        <option value="fi">Finnish</option>
        <option value="fr">French</option>
        <option value="fr-be">French-Belgium</option>
        <option value="fr-ch">French-Switzerland</option>
        <option value="de">German</option>
        <option value="de-ch">German-Switzerland</option>
        <option value="is">Icelandic</option>
        <option value="it">Italian</option>
        <option value="jp">Japanese</option>
        <option value="no">Norwegian</option>
        <option value="pt">Polish</option>
        <option value="es">Spanish</option>
      </select>
    </label>
  </div>
  <div>
    <label>
      <span>Select the data center that's closest to you:</span>
      <select>
        <option value="US-West"> US-West (Tukwila, WA, USA)</option>
        <option value="US-Central"> US-Central (Dallas, TX, USA)</option>
        <option value="US-East"> US-East (Sterling, VA, USA)</option>
        <option value="CAN-Toronto"> CAN-Toronto  (Toronto, CAN)</option>
        <option value="EMEA"> EMEA (London, UK)</option>
        <option value="APAC"> APAC (Singapore, SGP)</option>
        <option value="AUS-Sydney"> AUS-Sydney (Sydney, AUS)</option>
      </select>
    </label>
  </div>
  <div>
    <input type="submit" name="submit" value="Submit">
  </div>
</form>
